.collage{
    position: absolute;
}
body {
  background-color: rgb(240, 242, 197);
}

h1,h2,h3,h4,h5 {

.open-sans-<uniquifier> 
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.anyOfYourClass{
  font-family: 
      "Helvetica", /* prioritize using this one */
         Arial, /* if the first one doesn't work, use this one */
            sans-serif; /* another fall back */
}




p{
  color:rgb(175, 79, 27); /* This change the font color of all the paragraph elements to blue */
}

.cropContainer{
  position:relative;
  overflow:hidden;
}

.container{
  position:relative;
  width:100vw;
  height:200px;
  background-color: aquamarine
}

.center{
  position: absolute;
  left:50%; /* moving the element to the center */
  top:50%
  transform:translate(-50%, -50%);
  margin:0;
}


.display-exp{
  display:flex1;
}

.flex-container{
  display:flex;
  flex-direction:row;
}

.flex-container div{
  flex:1;
}

.flex-container{
  display:flex;
  flex-direction:row;
  width: 100%;
}

.flex-item{
  margin:5%;padding:5%;
}

.container {
  display: flex;
  justify-content: center; /* Centers items along the main axis (horizontal by default) */
  align-items: center;   /* Centers items along the cross axis (vertical by default) */
}

.animationElem{
  animation-name:changeBGColor;
  animation-duration:4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes changeBGColor{/* the animation's name */
  from {background-color: red;} /* stating state, needs to have a specific property expression*/
  to {background-color: yellow;} /* ending state, could have multiple ones through percentage*/
}
